
@model EntityLayer.Concrete.Category
@{

    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(p => p.CategoryName , new {@class = "form-control" })
        @Html.ValidationMessageFor(p => p.CategoryName)


        @Html.Label("Açıklama : ")
        @Html.TextAreaFor(p => p.CategoryDescription , new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.CategoryDescription)
        <br />
        <button class="btn btn-info">Kaydet</button>

    </div>



}
